.rodape{
    width: 1440px;
    margin-right: auto;
    margin-left:  auto;
    padding-top:  0px;
}

.logo{
    width: 360px;
    height: 169px;
    margin-right: auto;
    margin-left:  auto;
    padding-top:  0px;
}
